{% if fsc.showBackupWarning() %}
    <div class="row">
        <div class="col">
            <div class="card bg-warning shadow mb-3">
                <div class="card-body">
                    <h2 class="h3">
                        <i class="fas fa-save"></i> {{ trans('dashboard-backup') }}
                    </h2>
                    <p class="card-text">{{ trans('dashboard-backup-p') }}</p>
                    <ul class="mb-0">
                        <li>{{ trans('dasboard-backup-li1') }}</li>
                        <li>{{ trans('dasboard-backup-li2') }}</li>
                        <li>{{ trans('dasboard-backup-li3') }}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://facturascripts.com/plugins/backup" target="_blank" rel="nofollow"
                       class="btn btn-secondary"> Backup
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}