<div class="card shadow mb-3">
    <div class="pl-3 pt-1 pr-3 pb-3">
        <div class="form-row">
            <div class="col-md">
                <h2 class="h4 mt-3 mb-1">
                    <i class="fas fa-plus fa-fw"></i> {{ trans('create') }}
                </h2>
                <ul class="mb-1">
                    {% for link, label in fsc.createLinks %}
                        <li>
                            <a href="{{ link }}">{{ trans(label) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if fsc.openLinks %}
                <div class="col-md">
                    <h2 class="h4 mt-3 mb-1">
                        <i class="fas fa-folder-open fa-fw"></i> {{ trans('open') }}
                    </h2>
                    <ul class="mb-1">
                        {% for link in fsc.openLinks %}
                            <li>
                                {{ trans(link.type) }}
                                <a href="{{ link.url }}">{{ link.name }}</a>
                                <span class="text-muted">{{ link.date }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="col-md">
                <h2 class="h4 mt-3 mb-1">
                    <i class="fas fa-question-circle fa-fw"></i> {{ trans('help') }}
                </h2>
                <ul class="mb-1">
                    <li>
                        <a href="https://facturascripts.com/publicaciones/configuracion-15" rel="nofollow"
                           target="_blank">Configuración</a>
                    </li>
                    <li>
                        <a href="https://facturascripts.com/publicaciones/primeros-pasos-303" rel="nofollow"
                           target="_blank">Primeros pasos</a>
                    </li>
                    <li>
                        <a href="https://facturascripts.com/publicaciones/problemas-frecuentes-469" rel="nofollow"
                           target="_blank">Problemas frecuentes</a>
                    </li>
                    <li>
                        <a href="https://forms.gle/WhGgWWB6EbWjBNna6" rel="nofollow"
                           target="_blank">Encuesta de uso 2022/23
                            <i class="fas fa-clipboard-check"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://facturascripts.com/contacto" rel="nofollow" target="_blank">Soporte
                            <i class="far fa-comment-dots"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>