{% import _self as macros %}
{% set currentView = fsc.getCurrentView() %}

<link rel="stylesheet" href="{{ asset('node_modules/handsontable/dist/handsontable.full.min.css') }}" />

<script src="{{ asset('node_modules/handsontable/dist/handsontable.full.min.js') }}"></script>
<script src="{{ asset('Dinamic/Assets/JS/BusinessDocumentController.js') }}"></script>
<script type="text/javascript">
    documentLineData = {{ currentView.getLineData() | raw }};
            documentUrl = '{{ currentView.model.url('edit') | raw }}';
</script>

<form name="f_document_primary" action="#" method="post">
    <input type="hidden" name="action"/>
    <input type="hidden" name="{{ currentView.model.primaryColumn() }}" value="{{ currentView.model.primaryColumnValue() }}"/>
    <input id="doc_idestado" type="hidden" name="idestado" value="{{ currentView.model.idestado }}"/>
    <div class="form-row">
        {% if 'codcliente' in fsc.getSubjectColumns() %}
            {{ macros.customerSelect(i18n, 'codcliente', 'codcliente', currentView.model, fsc.getNewSubjectUrl()) }}
        {% endif %}
        {% if 'codproveedor' in fsc.getSubjectColumns() %}
            {{ macros.supplierSelect(i18n, 'codproveedor', 'codproveedor', currentView.model, fsc.getNewSubjectUrl()) }}
        {% endif %}
        {{ macros.customInput('doc_fecha', 'fecha', currentView.model.fecha, 'text', 'fa-calendar', {class: 'form-control datepicker'}) }}
        {{ macros.statusSelect(currentView.model, currentView, i18n) }}
        <div class="col">
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-money-bill-alt fa-fw" aria-hidden="true"></i>
                    </span>
                </span>
                <input type="text" id="doc_total" name="total" value="{{ currentView.model.total }}" class="form-control text-right" disabled="" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" onclick="documentSave();">
                        <i class="far fa-save" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        {% for parentDoc in currentView.model.parentDocuments() %}
            <div class="col">
                <div class="alert alert-warning text-center">
                    <i class="fas fa-backward" aria-hidden="true"></i> {{ parentDoc.modelClassName() }}
                    <a href="{{ parentDoc.url() }}">{{ parentDoc.primaryDescription() }}</a>
                </div>
            </div>
        {% endfor %}
        {% if currentView.model.editable == false and currentView.model.exists() %}
            <div class="col">
                <div class="alert alert-info text-center">{{ i18n.trans('non-editable-document') }}</div>
            </div>
        {% endif %}
        {% for childrenDoc in currentView.model.childrenDocuments() %}
            <div class="col">
                <div class="alert alert-success text-center">
                    <i class="fas fa-forward" aria-hidden="true"></i> {{ childrenDoc.modelClassName() }}
                    <a href="{{ childrenDoc.url() }}">{{ childrenDoc.primaryDescription() }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="document-lines"></div>
    <br/>
    <div class="form-row">
        <div class="col">
            <a href="#" class="btn btn-sm btn-danger" onclick="deleteRecord('f_document_primary');">
                <i class="fas fa-trash" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">&nbsp;{{ i18n.trans('delete') }}</span>
            </a>
        </div>
        {{ macros.customSelect('doc_codserie', 'codserie', currentView.model.codserie, fsc.getSelectValues('Serie')) }}
        {{ macros.customSelect('doc_codalmacen', 'codalmacen', currentView.model.codalmacen, fsc.getSelectValues('Almacen')) }}
        {{ macros.customSelect('doc_idempresa', 'idempresa', currentView.model.idempresa, fsc.getSelectValues('Empresa')) }}
        {{ macros.customSelect('doc_codpago', 'codpago', currentView.model.codpago, fsc.getSelectValues('FormaPago')) }}
        {{ macros.customSelect('doc_coddivisa', 'coddivisa', currentView.model.coddivisa, fsc.getSelectValues('Divisa')) }}
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-primary" onclick="documentSave();">
                <i class="far fa-save" aria-hidden="true"></i>&nbsp; {{ i18n.trans('save') }}
            </button>
        </div>
    </div>
</form>

{% macro customSelect(id, name, value, allValues = {}, allowHide = true) %}
    {% if allowHide and allValues | length == 1 %}
        {% for key, option in allValues %}
            <input type="hidden" id="{{ id }}" name="{{ name }}" value="{{ key }}"/>
        {% endfor %}
    {% else %}
        <div class="col">
            <select id="{{ id }}" name="{{ name }}" class="form-control">
                {% for key, option in allValues %}
                    <option value="{{ key }}"{% if value == key %} selected=""{% endif %}>
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{% macro customInput(id, name, value, type = "text", icon = NULL, attributes = NULL) %}
    <div class="col-sm-2">
        {% if icon %}
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas {{ icon }} fa-fw" aria-hidden="true"></i>
                    </span>
                </span>
            {% endif %}

            <input type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}"
                   {% if attributes.class is not defined %}
                       class="form-control"
                   {% endif %}

                   {% for attribute,attrValue in attributes %}
                       {{ attribute }}="{{ attrValue }}"
                   {% endfor %} /> {# end input #}

            {% if icon %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro customerSelect(i18n, id, name, model, newUrl) %}
    <div class="col">
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                </span>
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codcliente }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombrecliente|raw }}" class="form-control autocomplete"
                   data-field="{{ id }}" data-source="Cliente" data-fieldcode="codcliente" data-fieldtitle="nombre"
                   placeholder="{{ i18n.trans('new-customer') }}" autocomplete="off" autofocus=""/>
            <span class="input-group-append">
                <a href="{{ newUrl }}" target="_blank" class="btn btn-success">
                    <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </div>
{% endmacro %}

{% macro supplierSelect(i18n, id, name, model, newUrl) %}
    <div class="col">
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                </span>
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codproveedor }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombre|raw }}" class="form-control autocomplete"
                   data-field="{{ id }}" data-source="Proveedor" data-fieldcode="codproveedor" data-fieldtitle="nombre"
                   placeholder="{{ i18n.trans('new-supplier') }}" autocomplete="off" autofocus=""/>
            <span class="input-group-append">
                <a href="{{ newUrl }}" target="_blank" class="btn btn-success">
                    <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </div>
{% endmacro %}

{% macro statusSelect(model, view, i18n) %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% for status in view.documentStatus %}
                {% if model.idestado == status.idestado %}
                    {% if status.editable %}
                        <i class="fas fa-tag fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                    {% else %}
                        <i class="fas fa-lock fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </button>
        <div class="dropdown-menu">
            {% for status in view.documentStatus %}
                {% if model.idestado == status.idestado %}
                    <a class="dropdown-item active" href="#">
                        {% if status.editable %}
                            <i class="fas fa-tag fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                        {% else %}
                            <i class="fas fa-lock fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                        {% endif %}
                    </a>
                {% else %}
                    <a class="dropdown-item" href="#" onclick="$('#doc_idestado').val('{{ status.idestado }}');
                            documentSave();">
                        {% if status.editable %}
                            <i class="fas fa-tag fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                        {% else %}
                            <i class="fas fa-lock fa-fw" aria-hidden="true"></i> {{ status.nombre }}
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
            {% if model.exists() %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="DocumentStitcher?model={{ model.modelClassName() }}&codes={{ model.primaryColumnValue() }}">
                    <i class="fas fa-copy fa-fw" aria-hidden="true"></i> {{ i18n.trans('group-or-split') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}