{#
   /**
     * DocumentController Template.
     *
     * It shows the data of one or several models, through a navigation panel,
     * in different formats.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2013-2018  Carlos Garcia Gomez  <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see http://www.gnu.org/licenses/.
     *
    */
#}

{% extends "Master/PanelController.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('node_modules/handsontable/dist/handsontable.full.min.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('node_modules/handsontable/dist/handsontable.full.min.js') }}"></script>
<script src="{{ asset('Dinamic/Assets/JS/documentController.js') }}"></script>
<script type="text/javascript">
    documentUrl = '{{ fsc.document.url() | raw }}';
</script>
{% endblock %}

{% block body %}
{# -- Visual macros -- #}
{% import 'Macro/BaseController.html.twig' as BaseController %}
{% import 'Macro/DocumentController.html.twig' as DocumentController %}

{# -- Main Body -- #}
<div class="container-fluid">
    {# -- Data Row -- #}
    <div class="row">
        <div class="col-sm-12">
            <div class="nav nav-tabs" id="optionsindex" role="tablist">
                {% for indexView, view in fsc.views %}
                    {% set active = (indexView == fsc.active) ? ' active' : '' %}
                    {% set disable = fsc.getSettings(indexView, 'active') ? '' : ' disabled' %}
                    <a class="nav-link{{ active }}{{ disable }}" id="{{ indexView }}-tab" data-toggle="pill" href="#{{ indexView }}" role="tab" aria-controls="{{ indexView }}" aria-expanded="true">
                        <i class="fa {{ fsc.getSettings(indexView, 'icon') }} fa-fw" aria-hidden="true"></i>
                        &nbsp;{{ view.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="tab-content" id="optionsindex-tabContent">
                {% for indexView, view in fsc.views %}
                    {% set active = (indexView == fsc.active) ? ' show active' : '' %}
                    <div class="tab-pane fade{{ active }}" id="{{ indexView }}" role="tabpanel" aria-labelledby="{{ indexView }}-tab">
                        {% set viewType = fsc.viewClass(view) %}
                        {% if viewType == 'ListView' %}
                            {{ BaseController.columnsForListView(_context, view) }}
                        {% else %}
                            <br/>
                        {% endif %}

                        {% if viewType == 'DocumentView' %}
                            {# Document View and lines #}
                            {{ DocumentController.DocumentView(_context, view) }}
                        {% elseif viewType == 'EditView' %}
                            {# Information Cards Header #}
                            {{ BaseController.rowCardsForEditView(_context, view, 'header') }}

                            {# Statistical buttons bar #}
                            {{ BaseController.rowStatisticsForEditView(_context, view) }}

                            {# Main Form #}
                            {% set model = view.getModel() %}
                            {{ BaseController.columnsForEditView(_context, view, model, TRUE) }}
                        {% elseif viewType == 'EditListView' %}
                            {# Information Cards Header #}
                            {{ BaseController.rowCardsForEditView(_context, view, 'header') }}

                            {# Main Form #}
                            {{ BaseController.columnsForEditListView(_context, view) }}
                        {% elseif viewType == 'HtmlView' %}
                            <div>{% include view.fileName ignore missing %}</div>
                        {% else %}
                            {{ BaseController.rowCardsForEditView(_context, view, 'footer') }}
                            {{ BaseController.modalFormFromColumns(_context, view) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}
