{% import _self as macros %}
{% set currentView = fsc.getCurrentView() %}

{# -- Row header -- #}
{% set row = currentView.getRow('header') %}
{{ row.render(currentView.getViewName()) | raw }}

<form id="formEditView{{ currentView.getViewName() }}" method="post">
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for group in currentView.getColumns() %}
                    {{ group.edit(currentView.model) | raw }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-sm btn-danger" onclick="editViewDeleteRecord();" href="#">
                        <i class="fas fa-trash fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">{{ i18n.trans('delete') }}</span>
                    </a>
                </div>
                <div class="col-8 text-right">
                    <button class="btn btn-sm btn btn-secondary" type="reset">
                        <i class="fas fa-undo fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">{{ i18n.trans('undo') }}</span>
                    </button>
                    <button class="btn btn-sm btn-primary" type="submit">
                        <i class="far fa-save fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">{{ i18n.trans('save') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

{# -- Row footer -- #}
{% set row = currentView.getRow('footer') %}
{{ row.render(currentView.getViewName()) | raw }}

{# -- Modals -- #}
{% for group in currentView.getModals() %}
    {{ group.modal(currentView.model, currentView.getViewName()) | raw }}
{% endfor %}