{% import _self as macros %}
{% set currentView = fsc.getCurrentView() %}

<script type="text/javascript">
    function EditListViewSetOffset(viewName, value) {
        $("#form" + viewName + "Offset :input[name=\"offset\"]").val(value);
        $("#form" + viewName + "Offset").submit();
    }
</script>

{% set formName = 'form' ~ currentView.getViewName() ~ 'New' %}
<form id="{{ formName }}" method="post">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
    <div class="card bg-light">
        <div class="card-header">
            {{ i18n.trans('new') }}
        </div>
        <div class="card-body">
            <div class="row">
                {% for group in currentView.getColumns() %}
                    {{ group.edit(currentView.model) | raw }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button class="btn btn-sm btn-success" type="submit">
                        <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">{{ i18n.trans('new') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

{% for counter, model in currentView.cursor %}
    {% set formName = 'form' ~ currentView.getViewName() ~ counter %}
    <form id="{{ formName }}" method="post">
        <input type="hidden" name="action" value="save">
        <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% for group in currentView.getColumns() %}
                        {{ group.edit(model) | raw }}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-4">
                        <a class="btn btn-sm btn-danger" onclick="editListViewDeleteRecord();" href="#">
                            <i class="fas fa-trash fa-fw" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-block">{{ i18n.trans('delete') }}</span>
                        </a>
                    </div>
                    <div class="col-8 text-right">
                        <button class="btn btn-sm btn btn-secondary" type="reset">
                            <i class="fas fa-undo fa-fw" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-block">{{ i18n.trans('undo') }}</span>
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="far fa-save fa-fw" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-block">{{ i18n.trans('save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% else %}
    <div class="alert alert-warning">
        {{ i18n.trans('no-data') }}
    </div>
{% endfor %}

{% set row = currentView.getRow('footer') %}
{% if row is not empty %}
    <div class="row">
        <div class="col-12">
            {{ row.render() | raw }}
        </div>
    </div>
{% endif %}

<br/>

{% set formName = 'form' ~ currentView.getViewName() ~ 'Offset' %}
<form id="{{ formName }}" method="post">
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
    <input type="hidden" name="offset" value="{{ currentView.offset }}"/>
    <div class="text-center">
        <div class="btn-group">
            {% for page in currentView.getPagination() %}
                {% if page.active %}
                    <button type="button" class="btn btn-light active" onclick="EditListViewSetOffset('{{ currentView.getViewName() }}', '{{ page.offset }}');">
                        {{ page.num }}
                    </button>
                {% else %}
                    <button type="button" class="btn btn-light" onclick="EditListViewSetOffset('{{ currentView.getViewName() }}', '{{ page.offset }}');">
                        {{ page.num }}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</form>