{#
   /**
     * Grid Controller template
     *
     * Allows the visualization and editing data with master/detail structure.
     * Detail data is edited into handsontable component.
     * In this moment (Feb-2018) only one gridView is soported.
     *
     * Inherit from PanelController Template. (Bottom Panel)
     *      It shows the data of one or several models,
     *      through a navigation panel, in different formats.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2013-2018  Carlos Garcia Gomez  <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see http://www.gnu.org/licenses/.
     *
    */
#}

{% extends "Master/PanelController.html.twig" %}

{% block css %}
    {{ parent() }}
    {% set masterView = fsc.views|first %}
    {% if masterView.count > 0 %}
        <link rel="stylesheet" href="node_modules/handsontable/dist/handsontable.full.min.css" />
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set masterView = fsc.views | first %}
    {% if masterView.count > 0 %}
        <script src="node_modules/handsontable/dist/handsontable.full.min.js"></script>
        <script src="Core/Assets/JS/GridController.js"></script>
        <script type="text/javascript">
            documentUrl = '{{ masterView.model.url('edit')|raw }}';
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {# -- Working Variables -- #}
    {% set parentViewName = fsc.views|keys|first %}
    {% set parentView = fsc.views[parentViewName] %}

    {# -- Main Body -- #}
    <div class="container-fluid">
        {# -- Account View Panel -- #}
        {% block parentview %}
            <div class="row">
                <div class="col-12">
                    {# Main Data #}
                    {% do fsc.setCurrentView(parentViewName) %}
                    {{ include(parentView.template) }}
                </div>
            </div>
        {% endblock %}
        {# -- Detail data -- #}
        {% if parentView.count > 0 %}
            <div class="row mt-2">
                <div class="col-12">
                    {# -- Tabs -- #}
                    {% if fsc.views.count > 1 %}
                        <div id="mainTabs" class="nav nav-tabs d-lg-none" role="tablist">
                            {% for viewName, view in fsc.views %}
                                {% if loop.index > 1 %}
                                    {% set active = (viewName == fsc.active) ? ' active' : '' %}
                                    {% set disable = view.settings.active ? '' : ' disabled' %}
                                    <a class="nav-link{{ active }}{{ disable }}" id="{{ viewName }}-tab" data-toggle="pill" href="#{{ viewName }}" role="tab" aria-controls="{{ viewName }}" aria-expanded="true">
                                        <i class="fas {{ view.icon }} fa-fw" aria-hidden="true"></i>
                                        &nbsp;{{ view.title }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {# -- Tab content -- #}
                    <div class="tab-content" id="mainTabs-tabContent">
                        {% for viewName, view in fsc.views %}
                            {% if loop.index > 1 %}
                                {% set active = (loop.index == 2) ? ' show active' : '' %}
                                <div class="tab-pane fade{{ active }}" id="{{ viewName }}" role="tabpanel" aria-labelledby="{{ viewName }}-tab">
                                    {% do fsc.setCurrentView(viewName) %}
                                    {{ include(view.template) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
