{% from 'Macro/Utils.html.twig' import popoverTitle as popoverTitle %}
{% set currentView = fsc.getCurrentView() %}

{# -- Row header -- #}
{% set row = currentView.getRow('header') %}
{% if row is not empty %}
    <div class="row">
        {{ row.render(currentView.getViewName(), '', fsc) | raw }}
    </div>
{% endif %}

{# -- Row statistics -- #}
{% set row = currentView.getRow('statistics') %}
{% if row is not empty %}
    <div class="row">
        <div class="col-12 text-right">
            {{ row.render(fsc) | raw }}
        </div>
    </div>
{% endif %}

{# Grid zone #}
<div class="row no-gutters">
    <script type="text/javascript">
        documentLineData = {{ currentView.getGridData()|raw }};
    </script>
    {% block gridcard %}
        <div class="col">
            {# Grid data panel #}
            <div class="card">
                <div class="card-body p-0">
                    <div id="document-lines"></div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

{# Buttons actions #}
{% set remove, remove_title = i18n.trans('delete'), i18n.trans('delete-record') %}
{% set save, save_title = i18n.trans('save'), i18n.trans('save-data') %}
<form id="formGridView{{ currentView.getViewName() }}" method="post">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>

    <div class="mt-3">
        <div class="card col-12">
            <div class="card-body d-flex justify-content-between" style="padding: 1rem 0rem;">
                {# -- Delete action -- #}
                <div class="col">
                    <button class="btn btn-sm btn-danger" type="button" id="delete-document" onclick="deleteRecord('{{ parentViewName }}', 'delete-document');" href="#" {{ popoverTitle(remove_title, 'bottom') }}>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">&nbsp;{{ remove }}</span>
                    </button>
                </div>
                {# -- Row actions -- #}
                {% set row = currentView.getRow('actions') %}
                {% if row is not empty %}
                    <div class="col d-flex justify-content-center">
                        {{ row.render() | raw }}
                    </div>
                {% endif %}
                {# -- DSave & Restore actions -- #}
                <div class="col text-right">
                    <button class="btn btn-sm btn-primary" type="button" id="save-document" onclick="saveDocument('{{ parentViewName }}');" href="#" {{ popoverTitle(save_title, 'bottom') }}>
                        <i class="far fa-save" aria-hidden="true"></i>&nbsp; {{ save }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

{# -- Row footer -- #}
<div class="row">
    {% set row = currentView.getRow('footer') %}
    {{ row.render(currentView.getViewName(), '', fsc) | raw }}
</div>

{# -- Modals -- #}
{% for group in currentView.getModals() %}
    {{ group.modal(currentView.model, fsc.user, currentView.getViewName()) | raw }}
{% endfor %}
