{#
    /**
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2023 Carlos Garcia Gomez <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see http://www.gnu.org/licenses/.
     *
     */
#}
{% import 'Macro/GoogleTagManager.html.twig' as GoogleTagManager %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ constant('FS_LANG') | slice(0, 2) }}" xml:lang="{{ constant('FS_LANG') | slice(0, 2) }}" >
    <head>
        {{ GoogleTagManager.head() }}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>{{ fsc.title }}</title>
            <meta name="description" content="{{ trans('meta-description') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="generator" content="FacturaScripts" />
            <meta name="robots" content="noindex" />
        {% endblock %}
        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('Dinamic/Assets/Images/favicon.ico') }}" />
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Dinamic/Assets/Images/apple-icon-180x180.png') }}" />
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}"/>
            <style>
                .btn-link {
                    text-decoration: none;
                }
            </style>
        {% endblock %}
        {# Adds custom CSS assets #}
        {% for css in assetManager.get('css') %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        {% block javascripts %}
            <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>
        {% endblock %}
        {# Adds custom JS assets #}
        {% for js in assetManager.get('js') %}
            <script src="{{ js }}"></script>
        {% endfor %}
        {% if debugBarRender %}
            {{ debugBarRender.renderHead() | raw }}
        {% endif %}
    </head>
    {% block fullBody %}
        <body>
            {{ GoogleTagManager.body() }}
            {% block messages %}
                {% include 'Macro/Toasts.html.twig' %}
                {% from 'Macro/Utils.html.twig' import message as showMessage %}
                {{ showMessage(log, ['error', 'critical'], 'danger') }}
                {{ showMessage(log, ['warning'], 'warning') }}
                {{ showMessage(log, ['notice'], 'success') }}
                {{ showMessage(log, ['info'], 'info') }}
            {% endblock %}
            {% block body %}
            {% endblock %}
            {% if debugBarRender %}
                {{ debugBarRender.render() | raw }}
            {% endif %}
            <!-- execution time: {{ executionTime() }} s -->
        </body>
    {% endblock %}
</html>
