{#
    /**
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2019 Carlos Garcia Gomez <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see http://www.gnu.org/licenses/.
     */
#}
{% extends "Master/PanelController.html.twig" %}

{% block body %}
    {% set firstView = fsc.views | first %}
    {% set firstViewName = firstView.getViewName() %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% do fsc.setCurrentView(firstViewName) %}
                {{ include(firstView.template) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if fsc.views | length > 2 %}
                    <ul class="nav nav-pills mb-3 d-print-none" id="mainTabs" role="tablist">
                        {% for viewName, view in fsc.views %}
                            {% if view.settings.active and viewName != firstViewName %}
                                <li class="nav-item">
                                    {% set active = (viewName == fsc.active) or (fsc.active == firstViewName and loop.index == 2) ? ' active' : '' %}
                                    <a href="#{{ viewName }}" class="nav-link{{ active }}" data-toggle="tab" role="tab" aria-controls="{{ viewName }}">
                                        <i class="{{ view.icon }}" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">&nbsp;{{ view.title }}</span>
                                        {% if view.count > 0 %}
                                            <span class="badge badge-secondary">{{ fsc.toolBox().numbers().format(view.count, 0) }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="tab-content" id="mainTabsContent">
                    {% for viewName, view in fsc.views %}
                        {% if view.settings.active and viewName != firstViewName %}
                            {% set active = (viewName == fsc.active) or (fsc.active == firstViewName and loop.index == 2) ? ' show active' : '' %}
                            <div class="tab-pane{{ active }}" id="{{ viewName }}" role="tabpanel">
                                {% do fsc.setCurrentView(viewName) %}
                                {{ include(view.template) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
