{#
   /**
     * PanelController Template. (Bottom Panel)
     *
     * It shows the data of one or several models, through a navigation panel,
     * in different formats.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2013-2017  Carlos Garcia Gomez  <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see http://www.gnu.org/licenses/.
     *
    */
#}

{% extends "Master/PanelController.html.twig" %}

{% block body %}
{# -- Visual macros -- #}
{% import 'Macro/BaseController.html.twig' as BaseController %}

{# -- Main Body -- #}
<div class="container-fluid">
    {# -- Data Row -- #}
    <div class="row">
        {# -- First View Panel -- #}
        <div class="col-12">
            {% set indexView = fsc.views|keys|first %}
            {% set view = fsc.views[indexView] %}
            {% if viewType in ['EditView','EditListView'] %}
                {{ BaseController.rowCardsForEditView(_context, view, 'header') }}
            {% endif %}

            <div class="card">
                <div class="card-body">
                    {% set viewType = fsc.viewClass(view) %}
                    {% if viewType == 'ListView' %}
                        {{ BaseController.columnsForListView(_context, view) }}
                    {% elseif viewType == 'EditView' %}
                        {# Statistical buttons bar #}
                        {{ BaseController.rowStatisticsForEditView(_context, view) }}

                        {# Main Form #}
                        {% set model = view.getModel() %}
                        {{ BaseController.columnsForEditView(_context, view, model, TRUE) }}
                    {% elseif viewType == 'EditListView' %}
                        {{ BaseController.columnsForEditListView(_context, view) }}
                    {% elseif viewType == 'HtmlView' %}
                    <div>{% include view.fileName ignore missing %}</div>
                    {% endif %}
                </div>
            </div>
            {% if viewType in ['ListView','EditView','EditListView'] %}
                {{ BaseController.rowCardsForEditView(_context, view, 'footer') }}
                {{ BaseController.modalFormFromColumns(_context, view) }}
            {% endif %}

            {% if fsc.views|length > 1 %}
            <br/>
            <div class="nav nav-tabs" id="optionsindex" role="tablist">
                {% for indexView, view in fsc.views %}
                {% set active = (loop.index == 2) ? ' active' : '' %}
                {% if loop.index > 1 %}
                {% set disable = fsc.getSettings(indexView, 'active') ? '' : ' disabled' %}
                <a class="nav-link{{ active }}{{ disable }}" id="{{ indexView }}-tab" data-toggle="pill" href="#{{ indexView }}" role="tab" aria-controls="{{ indexView }}" aria-expanded="true">
                    <i class="fa {{ fsc.getSettings(indexView, 'icon') }} fa-fw" aria-hidden="true"></i>
                    &nbsp;{{ view.title }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="tab-content" id="optionsindex-tabContent">
                {% for indexView, view in fsc.views %}
                    {% set active = (loop.index == 2) ? ' show active' : '' %}
                    <div class="tab-pane fade{{ active }}" id="{{ indexView }}" role="tabpanel" aria-labelledby="{{ indexView }}-tab">
                        {% set viewType = fsc.viewClass(view) %}
                        {% if viewType == 'ListView' %}
                        {{ BaseController.columnsForListView(_context, view) }}
                        {% else %}
                        <br/>
                        {% endif %}

                        {% if viewType == 'EditView' %}
                        {# Information Cards Header #}
                        {{ BaseController.rowCardsForEditView(_context, view, 'header') }}

                        {# Statistical buttons bar #}
                        {{ BaseController.rowStatisticsForEditView(_context, view) }}

                        {# Main Form #}
                        {% set model = view.getModel() %}
                        {{ BaseController.columnsForEditView(_context, view, model, TRUE) }}
                        {% endif %}

                        {% if viewType == 'EditListView' %}
                        {# Information Cards Header #}
                        {{ BaseController.rowCardsForEditView(_context, view, 'header') }}

                        {# Main Form #}
                        {{ BaseController.columnsForEditListView(_context, view) }}
                        {% endif %}

                        {% if viewType == 'HtmlView' %}
                        <div>{% include view.fileName ignore missing %}</div>
                        {% elseif viewType in ['EditView','EditListView'] %}
                        {{ BaseController.rowCardsForEditView(_context, view, 'footer') }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<br/>
{% endblock %}
