{#
   /**
     * Dashboard view template.
     *
     * It shows statistical information and helps the user through components
     * that can be organized by the user, changing their position according to
     * their needs.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2018 Carlos Garcia Gomez <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see <http://www.gnu.org/licenses/>.
     *
    */
#}

{% extends "Master/MenuTemplate.html.twig" %}

{% block css %}
    {{ parent() }}
    <style>
        .btn-options {
            color: #CCC;
            border-color: #CCC;
        }

        [data-toggle="collapse"].card-close i:before{
          content: "\f2d1";
        }

        [data-toggle="collapse"].card-close.collapsed i:before{
          content: "\f2d2";
        }
    </style>
{% endblock %}

{% block body %}
{# Calculate texts according to language #}
{% set refresh = i18n.trans('refresh-page') %}
{% set defaultT, defaultF = i18n.trans('mark-as-homepage'), i18n.trans('marked-as-homepage') %}
{% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}

{# Macros Template Imports #}
{% from 'Macro/Utils.html.twig' import popoverTitle as popoverTitle %}

{# Page Header #}
<div class="container-fluid d-print-none">
    {{ parent() }}

    {# Header Row #}
    <div class="row">
        <div class="col-sm-7 col-6">
            <div class="btn-group d-xs-none">
                <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}" {{ popoverTitle(refresh, 'bottom') }}>
                    <i class="fas fa-sync" aria-hidden="true"></i>
                </a>
                {% if fsc.getPageData()['name'] == fsc.user.homepage %}
                <a class="btn btn-sm btn-outline-secondary active" href="{{ fsc.url() }}?defaultPage=FALSE" {{ popoverTitle(defaultF, 'bottom') }}>
                    <i class="fas fa-bookmark" aria-hidden="true"></i>
                </a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}?defaultPage=TRUE" {{ popoverTitle(defaultT, 'bottom') }}>
                    <i class="far fa-bookmark" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5 col-6 text-right">
            <h1 style="margin-top: 0px; margin-bottom: 0px;">
                <i class="{{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ title }}
            </h1>
        </div>
    </div>

    <hr />

    {# Main Components #}
    <div class="row dashboard-component-sortable">
    {% for index, component in fsc.components %}
        {% import 'Macro/' ~ component.getTemplate() as componentTemplate %}
        <div class="{{ component.getNumColumns() }} dashboard-component">
            <div class="card {{ component.getCardClass() }}" id="{{ index }}">
                {{ componentTemplate.run(component, i18n) }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{# Script for drap & drop #}
<script>
    $(document).ready(function () {
        $('.dashboard-component-sortable').sortable({
            placeholderClass: 'dashboard-component'
        });

        $('.card-sortable').sortable({
            placeholderClass: 'card'
        });

        $('.list-group-sortable').sortable({
            placeholderClass: 'list-group-item',
            connectWith: '.connected'
        });
    });
</script>
{% endblock %}