{#
/**
 * This file is part of FacturaScripts
 * Copyright (C) 2017-2023 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 */
#}
{% extends "Master/MenuBghTemplate.html.twig" %}

{% block body %}
    <div class="bg-light pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h4">
                        {% if fsc.getPageData().name == fsc.user.homepage %}
                            <a class="btn btn-sm btn-secondary align-bottom active"
                               href="{{ fsc.url() }}?defaultPage=FALSE" title="{{ trans('marked-as-homepage') }}">
                                <i class="fas fa-bookmark" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-secondary align-bottom" href="{{ fsc.url() }}?defaultPage=TRUE"
                               title="{{ trans('mark-as-homepage') }}">
                                <i class="far fa-bookmark" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        <span class="ml-2">{{ fsc.title }}</span>
                    </h1>
                    <div class="sections-select text-right">
                        {% if fsc.sections is not empty %}
                            <form action="{{ fsc.url }}" method="POST" onsubmit="animateSpinner('add')">
                                <input type="hidden" name="action" value="update-visibility-sections">
                                {% for sectionName, section in fsc.sections %}
                                    {% if not section.readonly %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ sectionName }}" name="sections[]" value="{{ sectionName }}" {{ section.visible ? 'checked' : '' }}>
                                            <label class="form-check-label" for="inlineCheckbox{{ sectionName }}">{{ trans(section.title) }}</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-sm btn-success">{{ trans('save') }}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column" style="margin-top: -40px;">

        {% for sectionName, section in fsc.sections %}
            {% if section.visible %}
                <!-- start block {{ sectionName }} -->
                <div class="order-{{ section.order }}">

                    {% if fsc.sections|filter(v => v.visible == "true")|length > 1 %}
                        {{ _self.selectOrder(fsc, sectionName, section) }}
                    {% endif %}

                    {% if block(sectionName) is defined %}
                        {{ block(sectionName)|raw }}
                    {% else %}
                        {% include 'Dashboard/' ~ sectionName ~ '.html.twig' %}
                    {% endif %}
                </div>
                <!-- end block {{ sectionName }} -->
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function changeOrder(element, prevSection){
            const originSection = prevSection;
            const targetSection = element.value;

            const url = window.location.href;
            $.ajax({
                method: "POST",
                url,
                data: {
                    'action': 'update-order-sections',
                    targetSection,
                    originSection
                },
                dataType: "json",
                success: function () {
                    window.location.reload();
                }
            });
        }
    </script>
{% endblock %}

{% macro selectOrder(fsc, sectionName, section) %}
    <div class="col-2 offset-10 pr-0">
        <div class="form-group m-0">
            <select class="form-control form-control-sm" name="order-select-input-{{ sectionName }}" id="order-select-input-{{ sectionName }}" onchange="changeOrder(this, '{{ sectionName }}')">
                <option value="null">{{ trans('select') }}</option>
                {% for sectionNameForOptions, sectionForOptions in fsc.sections %}
                    {% if sectionForOptions.visible %}
                        <option value="{{ sectionNameForOptions }}">
                            {{ sectionForOptions.order }} .- {{ trans(sectionForOptions.title) }} {{ (sectionForOptions.order is same as section.order) ? "("~trans('current')~")" : '' }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}
