{#
   /**
     * Integrity System Check view template.
     *
     * Main page to know if integrity of system is being compromised.
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2018 Carlos Garcia Gomez <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see <http://www.gnu.org/licenses/>.
     *
    */
#}

{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    {# Calculate texts according to language #}
    {% set refresh = i18n.trans('refresh-page') %}
    {% set defaultT, defaultF = i18n.trans('mark-as-homepage'), i18n.trans('marked-as-homepage') %}
    {% set add = i18n.trans('add') %}
    {% set disable, enable, delete = i18n.trans('disable'), i18n.trans('enable'), i18n.trans('delete') %}
    {% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}
    {% set recreateSystem, recreateUser = i18n.trans('recreate-system-integrity'), i18n.trans('recreate-user-integrity') %}

    {# Page Header #}
    <div class="container-fluid">
        {{ parent() }}

        {# Header Row #}
        <div class="row">
            <div class="col-sm-7 col-6">
                <div class="btn-group d-xs-none">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}">
                        <i class="fas fa-sync" aria-hidden="true"></i>
                    </a>
                    {% if fsc.getPageData()['name'] == fsc.user.homepage %}
                        <a class="btn btn-sm btn-outline-secondary active" href="{{ fsc.url() }}?defaultPage=FALSE">
                            <i class="fas fa-bookmark" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}?defaultPage=TRUE">
                            <i class="far fa-bookmark" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="btn-group d-xs-none">
                    {% if constant('FS_DEBUG') %}
                        <a class="btn btn-sm btn-success" href="{{ fsc.url() }}?action=system">
                            <i class="fas fa-retweet" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-block">&nbsp;{{ recreateSystem }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5 col-6 text-right">
                <h1 style="margin-top: 0; margin-bottom: 0;">
                    <i class="{{ fsc.getPageData()['icon'] }}" aria-hidden="true"></i> {{ title }}
                </h1>
            </div>
        </div>
        <hr/>
    </div>

    <div class="container-fluid form-text text-muted">
        <div class="row">
            <div class="col-12">
                <small>
                    {{ i18n.trans('integrity-check-help') }}:
                    <ul>
                        <li><b>{{ i18n.trans('missing-file') }}</b>: {{ i18n.trans('missing-file-help') | raw }}</li>
                        <li>
                            <b>{{ i18n.trans('invalid-hash-file') }}</b>: {{ i18n.trans('invalid-hash-file-help') | raw }}
                        </li>
                        <li><b>{{ i18n.trans('extra-file') }}</b>: {{ i18n.trans('extra-file-help') | raw }}</li>
                    </ul>
                </small>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ i18n.trans('name') }}</th>
                <th>{{ i18n.trans('description') }}</th>
            </tr>
            </thead>
            <tbody>
            {% set types = ['MISSING_FILE', 'INVALID_HASH', 'EXTRA_FILE'] %}
            {% for type in types %}
                {% if type == 'MISSING_FILE' %}
                    {% set msg = i18n.trans('missing-file') %}
                {% elseif type == 'INVALID_HASH' %}
                    {% set msg = i18n.trans('invalid-hash-file') %}
                {% elseif type == 'EXTRA_FILE' %}
                    {% set msg = i18n.trans('extra-file') %}
                {% endif %}
                {% for file in fsc.integrity[type] %}
                    <tr>
                        <td><b>{{ file }}</b></td>
                        <td>{{ msg }}</td>
                    </tr>
                {% else %}
                    <tr class="table-warning">
                        <td colspan="2"><b>{{ i18n.trans('no-data') }}</b></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}