{#
/**
 * This file is part of FacturaScripts
 * Copyright (C) 2021 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 */
#}
{% extends "Master/MenuBghTemplate.html.twig" %}

{% block bodyHeaderOptions %}
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block body %}
    <form method="post">
        <input type="hidden" name="action" value="export"/>
        <div class="container" style="margin-top: -60px;">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-body">
                            <h1 class="h3 mb-3">
                                <i class="{{ fsc.getPageData().icon }}"></i> {{ fsc.title }}
                            </h1>
                            <div class="form-row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('company') }}
                                        <select name="idempresa" class="form-control">
                                            {% for empresa in fsc.empresa.all() %}
                                                {% if empresa.idempresa == fsc.idempresa %}
                                                    <option value="{{ empresa.idempresa }}"
                                                            selected="">{{ empresa.nombrecorto | raw }}</option>
                                                {% else %}
                                                    <option value="{{ empresa.idempresa }}">{{ empresa.nombrecorto | raw }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('invoices') }}
                                        <select name="source" class="form-control">
                                            {% if fsc.source == 'purchases' %}
                                                <option value="sales">{{ i18n.trans('sales') }}</option>
                                                <option value="purchases"
                                                        selected="">{{ i18n.trans('purchases') }}</option>
                                            {% else %}
                                                <option value="sales" selected="">{{ i18n.trans('sales') }}</option>
                                                <option value="purchases">{{ i18n.trans('purchases') }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('from-date') }}
                                        <input type="date" name="datefrom" value="{{ fsc.datefrom }}"
                                               class="form-control" required=""/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('until-date') }}
                                        <input type="date" name="dateto" value="{{ fsc.dateto }}" class="form-control"
                                               required=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-end">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('serie') }}
                                        <select name="codserie" class="form-control">
                                            <option value="">{{ i18n.trans('all') }}</option>
                                            <option value="">------</option>
                                            {% for serie in fsc.serie.all() %}
                                                {% if serie.codserie == fsc.codserie %}
                                                    <option value="{{ serie.codserie }}"
                                                            selected="">{{ serie.descripcion | raw }}</option>
                                                {% else %}
                                                    <option value="{{ serie.codserie }}">{{ serie.descripcion | raw }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ i18n.trans('format') }}
                                        <select name="format" class="form-control">
                                            <option value="PDF">PDF</option>
                                            <option value="CSV">CSV</option>
                                            <option value="XLS">Excel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">
                                            {{ i18n.trans('generate') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}