{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
<!-- Macros Template Imports -->
{% import 'Macro/Forms.html.twig' as forms %}

{% set ciudad = fsc.empresa ? fsc.empresa.ciudad : '' %}
{% set coddivisa = appSettings.get('default','coddivisa','EUR') %}
{% set codpais = appSettings.get('default','codpais','ESP') %}
{% set provincia = fsc.empresa ? fsc.empresa.provincia : '' %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                <i class="fa fa-magic" aria-hidden="true"></i> {{ i18n.trans('wizard') }}
                <a href="{{ fsc.url() }}" class="btn btn-sm btn-secondary">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </h1>
            <hr/>
        </div>
    </div>
    <form action="#" method="post" class="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ forms.simpleSelect('coddivisa', 'coddivisa', coddivisa, fsc.getSelectValues('Divisa'), i18n.trans('currency'), 'fa-money') }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ forms.simpleSelect('codpais', 'codpais', codpais, fsc.getSelectValues('Pais'), i18n.trans('country'), 'fa-globe') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ forms.simpleInput('provincia', 'provincia', provincia, 'text', i18n.trans('province')) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ forms.simpleInput('ciudad', 'ciudad', ciudad, 'text', i18n.trans('city')) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    {{ i18n.trans('save') }}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}