{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <!-- Macros Template Imports -->
    {% import 'Macro/Forms.html.twig' as forms %}

    {% set ciudad = fsc.empresa ? fsc.empresa.ciudad : '' %}
    {% set codpais = appSettings.get('default','codpais','ESP') %}
    {% set provincia = fsc.empresa ? fsc.empresa.provincia : '' %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    <i class="fas fa-magic" aria-hidden="true"></i> {{ i18n.trans('wizard') }}
                    <a href="{{ fsc.url() }}" class="btn btn-sm btn-secondary">
                        <i class="fas fa-sync" aria-hidden="true"></i>
                    </a>
                </h1>
                <hr/>
            </div>
        </div>
        <form action="#" method="post" class="form">
            <div class="row">
                {% if fsc.showChangePasswd %}
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ forms.simpleInput('password', 'password', '', 'password', i18n.trans('new-password'), 'fas fa-key', {'autofocus': '', 'class': 'form-control is-invalid'}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ forms.simpleInput('repassword', 'repassword', '', 'password', i18n.trans('repeat-new-password'), 'fas fa-key', {'class': 'form-control is-invalid'}) }}
                        </div>
                    </div>
                {% endif %}
                {% if fsc.showIntroduceEmail %}
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ forms.simpleInput('email', 'email', fsc.user.email, 'email', i18n.trans('email'), 'fas fa-at', {'required': '', 'class': 'form-control is-invalid'}) }}
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleInput('business', 'business', fsc.empresa.nombrecorto, 'text', i18n.trans('business'), 'fas fa-building', {'required': '', 'class': 'form-control is-invalid'}) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleInput('address', 'address', fsc.empresa.direccion, 'text', i18n.trans('address'), 'fas fa-map-marked', {'required': '', 'class': 'form-control is-invalid'}) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleInput('postal-code', 'postal-code', fsc.empresa.codpostal, 'text', i18n.trans('postal-code'), 'fas fa-map-marked', {'required': '', 'class': 'form-control is-invalid'}) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleSelect('codpais', 'codpais', codpais, fsc.getSelectValues('Pais'), i18n.trans('country'), 'fas fa-globe-americas') }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleInput('provincia', 'provincia', provincia, 'text', i18n.trans('province')) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ forms.simpleInput('ciudad', 'ciudad', ciudad, 'text', i18n.trans('city')) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save fa-fw" aria-hidden="true"></i>
                        {{ i18n.trans('save') }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}