{#
/**
 * This file is part of FacturaScripts
 * Copyright (C) 2017-2025 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 */
#}
{% extends "Master/MicroTemplate.html.twig" %}

{% block messages %}
    <div class="bg-primary pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ parent() }}
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: -100px;">
        <div class="card shadow mb-5">
            <div class="card-body">
                <h1 class="h3">
                    <i class="fa-solid fa-wand-magic-sparkles me-2"></i> {{ trans('wizard') }}
                    <a href="{{ fsc.url() }}" class="btn btn-sm btn-outline-secondary float-end"
                       title="{{ trans('refresh') }}">
                        <i class="fa-solid fa-redo" aria-hidden="true"></i>
                    </a>
                </h1>
                <p>{{ trans('wizard-p') }}</p>
                <hr/>
                <div class="text-center pt-5 pb-5 mt-5 mb-5">
                    <div class="progress mb-3" style="height: 2rem;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="{{ fsc.total }}">
                            0 / {{ fsc.total }}
                        </div>
                    </div>
                    <p id="progress-text" class="h4">{{ trans('loading-models') }}...</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/custom.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            const progressBar = document.querySelector('.progress-bar');
            const progressText = document.querySelector('#progress-text');

            function loadModels(offset) {
                $.ajax({
                    url: '{{ fsc.url() }}?action=step3_ajax',
                    method: 'POST',
                    data: {
                        offset: offset
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.status === 'loading') {
                            const percentage = (response.offset / response.total) * 100;
                            progressBar.style.width = percentage + '%';
                            progressBar.setAttribute('aria-valuenow', response.offset);
                            progressBar.textContent = response.offset + ' / ' + response.total;
                            progressText.textContent = '{{ trans("loading-models") }}...';
                            loadModels(response.offset);
                        } else if (response.status === 'done') {
                            progressBar.style.width = '100%';
                            progressBar.textContent = '{{ trans("completed") }}';
                            progressText.textContent = '{{ trans("loading-plugins") }}...';
                            setTimeout(function () {
                                window.location.href = response.url;
                            }, 1000);
                        }
                    }
                });
            }

            loadModels(0);
        });
    </script>
{% endblock %}