{% extends "Master/MenuBgTemplate.html.twig" %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid d-print-none">
        <div class="row">
            <div class="col pb-2">
                {# Back to list #}
                <a href="NewFormaPago" class="btn btn-sm btn-secondary">
                    <i class="fa-solid fa-list fa-fw" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline-block">{{ trans('all') }}</span>
                </a>
                {# Refresh #}
                <a href="{{ request.getRequestUri() }}" class="btn btn-sm btn-secondary"
                   title="{{ trans('refresh') }}">
                    <i class="fa-solid fa-redo" aria-hidden="true"></i>
                </a>
                {# New #}
                {% if fsc.mode() == 'edit' %}
                    <a href="NewFormaPago?codpago=new" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-plus fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-lg-inline-block">{{ trans('new') }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-auto d-none d-md-block text-end">
                <h1 class="h5 mb-0">{{ trans(pageData.title) }}</h1>
                <p class="text-info mb-3">{{ fsc.subtitle() }}</p>
            </div>
            <div class="col-md-auto d-none d-lg-block">
                <i class="{{ pageData.icon }} fa-3x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    {# Auxiliary form for JS events (delete, etc.) #}
    <form id="f_ui_event" method="post">
        {{ formToken() }}
        <input type="hidden" name="_event" value="">
    </form>

    <div class="container-fluid">

        {# Global validation errors #}
        {% if fsc.hasErrors() %}
            <div class="alert alert-danger py-2">
                <i class="fa-solid fa-triangle-exclamation me-1"></i>
                {% for field, errs in fsc.errors() %}
                    {% for err in errs %}
                        <div class="small">{{ err }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="card shadow mb-3">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" onsubmit="animateSpinner('add')">
                    {{ formToken() }}

                    <div class="row g-3">
                        {% for component in fsc.components() %}
                            {% if component.cols() > 0 %}
                                <div class="col-sm-{{ component.cols() }}">
                                    {{ component.renderEdit() | raw }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="mt-3 d-flex gap-2 align-items-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk me-1"></i>
                            {{ trans('save') }}
                        </button>

                        {% if fsc.mode() == 'edit' %}
                            <button type="button" class="btn btn-danger ms-auto"
                                    onclick="if(confirm('{{ trans('confirm-delete') | escape('js') }}')) { send_ui_event('delete') }">
                                <i class="fa-solid fa-trash me-1"></i>
                                {{ trans('delete') }}
                            </button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function send_ui_event(name) {
            const form = document.getElementById('f_ui_event');
            form.querySelector('[name="_event"]').value = name;
            form.submit();
        }
    </script>
{% endblock %}
