{% set firstView = fsc.views | first %}
{% set doc = firstView.model %}
{% set currentView = fsc.getCurrentView() %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% for docfile in currentView.cursor %}
                <form action="{{ doc.url() }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
                    <input type="hidden" name="id" value="{{ docfile.id }}"/>
                    {{ formToken() }}
                    <div class="card shadow mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <textarea name="observations" class="form-control"
                                          placeholder="{{ trans('observations') }}">{{ docfile.observations | raw }}</textarea>
                            </div>
                            <div class="form-row align-items-end">
                                <div class="col">
                                    {% set file = docfile.getFile() %}
                                    <a href="{{ asset(file.url()) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="far fa-file"></i> {{ file.filename | raw }}
                                    </a>
                                </div>
                                <div class="col">
                                    <p class="text-muted mb-0">
                                        {% if docfile.nick %}
                                            <i class="fas fa-user"></i> {{ docfile.nick }}
                                        {% endif %}
                                        <i class="fas fa-calendar-alt ml-2"></i> {{ docfile.creationdate }}
                                    </p>
                                </div>
                                <div class="col text-right">
                                    <button type="submit" name="action" value="edit-file"
                                            class="btn btn-sm btn-primary">
                                        <i class="fas fa-save fa-fw" aria-hidden="true"></i> {{ trans('save') }}
                                    </button>
                                    {% if fsc.permissions.allowDelete %}
                                        <div class="btn-group ml-2">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-danger dropdown-toggle" type="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <button type="submit" name="action" value="delete-file"
                                                            class="dropdown-item" href="#">
                                                        <i class="far fa-trash-alt fa-fw"></i> {{ trans('delete-file') }}
                                                    </button>
                                                    <button type="submit" name="action" value="unlink-file"
                                                            class="dropdown-item" href="#">
                                                        <i class="fas fa-unlink fa-fw"></i> {{ trans('unlink-file') }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
            {% if fsc.permissions.allowUpdate %}
                <form action="{{ doc.url() }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
                    <input type="hidden" name="action" value="add-file"/>
                    {{ formToken() }}
                    <div class="card border-success shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="far fa-file"></i> {{ trans('new') }}
                            </h5>
                            <div class="form-group">
                                <textarea name="observations" class="form-control"
                                          placeholder="{{ trans('observations') }}"></textarea>
                            </div>
                            <div class="form-row align-items-end">
                                <div class="col">
                                    <input type="file" name="new-file" class="form-control-file" required/>
                                    <p class="text-muted mb-0">
                                        {{ trans('help-server-accepts-filesize', {'%size%': currentView.model.getMaxFileUpload()}) }}
                                    </p>
                                </div>
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <i class="fas fa-save fa-fw" aria-hidden="true"></i> {{ trans('save') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
