{% set model = fsc.getCurrentView().model %}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<script type="module">
    import {
        baseFormRequest,
        baseFormAction,
        baseLineTotalWithTaxes,
        sortableEnable,
        sortableDisable
    } from "{{ asset('Core/Assets/JS/FormDocumentAction.js') }}";

    const URL = '{{ fsc.url() }}';
    const formName = 'purchasesForm';
    let waitCounter = 0;

    window.purchasesFastLine = function (e) {
        if (e.which == 13) {
            baseFormAction('fast-line', '0', formName, URL);
        }
    }

    window.purchasesFormAction = function (action, selectedLine) {
        baseFormAction(action, selectedLine, formName, URL);
    }

    window.purchasesFormActionWait = async function (action, selectedLine) {
        animateSpinner('add');

        // usamos un contador y un temporizador para solamente procesar la última llamada
        waitCounter++;
        let waitNum = waitCounter;
        await new Promise(r => setTimeout(r, 300));
        if (waitNum < waitCounter) {
            return false;
        }

        console.log('waitNum: ' + waitNum);
        return baseFormAction(action, selectedLine, formName, URL);
    }

    window.purchasesFormSave = function (action, selectedLine) {
        baseFormRequest(action, selectedLine, formName, URL)
            .then(function (data) {
                console.log(data);
                if (Array.isArray(data.messages)) {
                    data.messages.forEach(item => alert(item.message));
                }
                if (data.ok) {
                    window.location.replace(data.newurl);
                }
            })
            .catch(function (error) {
                alert('error');
                console.warn(error);
                animateSpinner('remove', false);
            });

        return false;
    }

    window.purchasesLineTotalWithTaxes = function (id) {
        const total = parseFloat(prompt('{{ i18n.trans('total-with-taxes') }}').replace(',', '.')) || 0;

        baseLineTotalWithTaxes(id, total, formName, URL);
    }

    {% if model.editable %}
    let sortable = false;

    $(document).on('click', '#sortableBtn', function () {
        if (sortable) {
            sortableDisable('#purchasesFormLines');
            sortable = false;
            $(this).removeClass('btn-secondary').addClass('btn-light');
        } else {
            sortableEnable('#purchasesFormLines');
            sortable = true;
            $(this).removeClass('btn-light').addClass('btn-secondary');
        }
    });
    {% endif %}

    $(document).ready(function () {
        $("#findSupplierInput").autocomplete({
            autoFocus: true,
            source: function (request, response) {
                $.ajax({
                    method: "POST",
                    url: URL,
                    data: {action: 'find-supplier', term: request.term},
                    dataType: "json",
                    success: function (results) {
                        response(results);
                    },
                    error: function (msg) {
                        alert(msg.status + " " + msg.responseText);
                    }
                });
            },
            select: function (event, ui) {
                if (ui.item.key !== null) {
                    const value = ui.item.value.split(" | ");
                    if (value.length > 1) {
                        document.forms['purchasesForm']['codproveedor'].value = value[0];
                        ui.item.value = value[1];
                    }
                    $("#findSupplierModal").modal("hide");
                    purchasesFormAction("set-supplier", "0");
                }
            },
            open: function (event, ui) {
                $(this).autocomplete('widget').css('z-index', 1500);
                return false;
            }
        });
    });
</script>

<form name="purchasesForm" method="post">
    <input type="hidden" name="action"/>
    <input type="hidden" name="code" value="{{ model.primaryColumnValue() }}"/>
    <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
    <input type="hidden" name="selectedLine"/>
    {{ fsc.renderPurchasesForm(model, model.getLines()) | raw }}
</form>
