<style>
    .custom-control-lg .custom-control-label::before,
    .custom-control-lg .custom-control-label::after {
        top: 0.1rem !important;
        left: -2rem !important;
        width: 1.25rem !important;
        height: 1.25rem !important;
    }

    .custom-control-lg .custom-control-label {
        margin-left: 1rem !important;
        font-size: 1rem !important;
    }
</style>

<form action="" method="post">
    <input type="hidden" name="action" value="edit-rules"/>
    <input type="hidden" name="activetab" value="{{ fsc.getCurrentView().getViewName() }}"/>
    <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
    <div class="card shadow">
        <div class="card-body text-right">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fas fa-save fa-fw"></i> {{ i18n.trans('save') }}
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th>{{ i18n.trans('menu') }}</th>
                    <th class="text-center">{{ i18n.trans('show') }}</th>
                    <th class="text-center">{{ i18n.trans('only-owner-data') }}</th>
                    <th class="text-center">{{ i18n.trans('allow-update') }}</th>
                    <th class="text-center">{{ i18n.trans('allow-import') }}</th>
                    <th class="text-center">{{ i18n.trans('allow-export') }}</th>
                    <th class="text-center">{{ i18n.trans('allow-delete') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-warning">
                    <td></td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-show" value="show"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-show">&nbsp</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-onlyOwner"
                                   value="only-owner" type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-onlyOwner">&nbsp</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-update" value="update"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-update">&nbsp</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-import" value="import"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-import">&nbsp</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-export" value="export"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-export">&nbsp</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control-lg custom-control custom-checkbox">
                            <input class="all-permission custom-control-input" id="checkbox-all-delete" value="delete"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="checkbox-all-delete">&nbsp</label>
                        </div>
                    </td>
                </tr>
                {% for pageName, rule in fsc.getAccessRules() %}
                    <tr>
                        <td>
                            {{ rule.menu }}
                            {% if 'List' in pageName %}
                                <span class="badge badge-info ml-1">{{ i18n.trans('list') }}</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.show %}
                                    <input class="show-permission custom-control-input"
                                           id="checkbox-large-show-{{ pageName }}" type="checkbox" name="show[]"
                                           value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="show-permission custom-control-input"
                                           id="checkbox-large-show-{{ pageName }}" type="checkbox" name="show[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-show-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.onlyOwner %}
                                    <input class="only-owner-permission custom-control-input"
                                           id="checkbox-large-onlyOwner-{{ pageName }}" type="checkbox"
                                           name="onlyOwner[]" value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="only-owner-permission custom-control-input"
                                           id="checkbox-large-onlyOwner-{{ pageName }}" type="checkbox"
                                           name="onlyOwner[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-onlyOwner-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.update %}
                                    <input class="update-permission custom-control-input"
                                           id="checkbox-large-update-{{ pageName }}" type="checkbox" name="update[]"
                                           value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="update-permission custom-control-input"
                                           id="checkbox-large-update-{{ pageName }}" type="checkbox" name="update[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-update-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.import %}
                                    <input class="import-permission custom-control-input"
                                           id="checkbox-large-import-{{ pageName }}" type="checkbox" name="import[]"
                                           value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="import-permission custom-control-input"
                                           id="checkbox-large-import-{{ pageName }}" type="checkbox" name="import[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-import-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.export %}
                                    <input class="export-permission custom-control-input"
                                           id="checkbox-large-export-{{ pageName }}" type="checkbox" name="export[]"
                                           value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="export-permission custom-control-input"
                                           id="checkbox-large-export-{{ pageName }}" type="checkbox" name="export[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-export-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="custom-control-lg custom-control custom-checkbox">
                                {% if rule.delete %}
                                    <input class="delete-permission custom-control-input"
                                           id="checkbox-large-delete-{{ pageName }}" type="checkbox" name="delete[]"
                                           value="{{ pageName }}" checked=""/>
                                {% else %}
                                    <input class="delete-permission custom-control-input"
                                           id="checkbox-large-delete-{{ pageName }}" type="checkbox" name="delete[]"
                                           value="{{ pageName }}"/>
                                {% endif %}
                                <label class="custom-control-label"
                                       for="checkbox-large-delete-{{ pageName }}">&nbsp</label>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr class="table-warning">
                        <td colspan="7">
                            {{ i18n.trans('no-data') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-body text-right">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fas fa-save fa-fw"></i> {{ i18n.trans('save') }}
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('input.only-owner-permission, input.update-permission, input.import-permission, input.export-permission, input.delete-permission')
            .change(function () {
                if (this.checked) {
                    $(this).parent().parent().parent().find('input.show-permission').prop('checked', true);
                }
            });

        $('input.show-permission').change(function () {
            if (!this.checked) {
                $(this).parent().parent().parent().find('input.only-owner-permission').prop('checked', false);
                $(this).parent().parent().parent().find('input.update-permission').prop('checked', false);
                $(this).parent().parent().parent().find('input.import-permission').prop('checked', false);
                $(this).parent().parent().parent().find('input.export-permission').prop('checked', false);
                $(this).parent().parent().parent().find('input.delete-permission').prop('checked', false);
            }
        });

        $('input.all-permission').change(function () {
            $('input.' + this.value + '-permission').prop('checked', this.checked).change();
            if (!this.checked && this.value === 'show') {
                $('input.all-permission').prop('checked', false);
            }
        });
    });
</script>