{% set firstView = fsc.views | first %}
{% set user = firstView.model %}

{% if user.two_factor_secret_key is not empty %}
    <div class="container text-center">
        {% if user.two_factor_enabled %}
            <form method="post" action="{{ user.url() }}">
                {{ formToken() }}
                <input type="hidden" name="action" value="deauthentication2factor"/>
                <button class="btn btn-danger" type="submit">
                    {{ trans('deauthentication-two-factor') }}
                </button>
            </form>
        {% else %}
            {% set twoFactorUrl = fsc.model.getTwoFactorUrl() %}
            <div class="row d-flex align-items-center">
                <div class="col-md mb-3 text-center">
                    <img height="200" width="auto" src="{{ user.getTwoFactorQR() }}"/>
                </div>
                <div class="col-md mb-3">
                    <div>
                        <a href="{{ twoFactorUrl }}" class="btn btn-secondary mb-3">{{ twoFactorUrl }}</a>
                    </div>
                    <div>
                        <form method="post" action="{{ user.url() }}">
                            {{ formToken() }}
                            <input type="hidden" name="action" value="authentication2factor"/>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="code_totp"
                                       placeholder="{{ trans('code') }}"
                                       required/>
                                <button class="btn btn-primary" type="submit">
                                    {{ trans('send-code-totp') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}