<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-6"><h4>{{ i18n.trans('general-concepts') }}</h4></div>
        <div class="col-6"><h4>{{ i18n.trans('wildcard-title') }}</h4></div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row"><div class="col-3"><b>{{ i18n.trans('wildcard') }}</b></div><div class="col-9">{{ i18n.trans('wildcard-general-info') }}</div></div>
        </div>
        <div class="col-6">
            <div class="row"><div class="col-3"><b>%document%</b></div><div class="col-9">{{ i18n.trans('document-wildcard-info') }}</div></div>
            <div class="row"><div class="col-3"><b>%date%</b></div><div class="col-9">{{ i18n.trans('date-wildcard-info') }}</div></div>
            <div class="row"><div class="col-3"><b>%date-entry%</b></div><div class="col-9">{{ i18n.trans('dateentry-wildcard-info') }}</div></div>
            <div class="row"><div class="col-3"><b>%month%</b></div><div class="col-9">{{ i18n.trans('month-wildcard-info') }}</div></div>
            <div class="row"><div class="col-3"><b>%year%</b></div><div class="col-9">{{ i18n.trans('year-wildcard-info') }}</div></div>
        </div>
    </div>
</div>