<div class="item-data text-info col-sm-12">
    
    <div class="title"><h3>{{ context.i18n.trans('macro-account-note-info') }}</h3></div>
    <div class="element">
    <ul>
        <li><strong>%document%</strong> {{ context.i18n.trans('document') }}</li>
        <li><strong>%date%</strong> {{ context.i18n.trans('date') }}</li>
    <li><strong>%date-entry%</strong> {{ context.i18n.trans('accounting-entry-date') }}</li>
    <li><strong>%month%</strong> {{ context.i18n.trans('month-name') }}</li>
    </ul>
    </div>
</div
