<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-12"><h4>{{ i18n.trans('general-concepts') }}</h4></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mb-2"><div class="col-12">{{ i18n.trans('commission-general-info')|raw }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('company') }}</b></div><div class="col-10">{{ i18n.trans('company-commission-info') }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('agent') }}</b></div><div class="col-10">{{ i18n.trans('agent-commission-info') }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('customer') }}</b></div><div class="col-10">{{ i18n.trans('customer-commission-info') }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('family') }}</b></div><div class="col-10">{{ i18n.trans('family-commission-info') }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('product') }}</b></div><div class="col-10">{{ i18n.trans('product-commission-info') }}</div></div>
            <div class="row"><div class="col-2"><b>{{ i18n.trans('group-commission') }}</b></div><div class="col-10">{{ i18n.trans('group-commission-info') }}</div></div>
        </div>
    </div>
</div>
