<style>
    .item-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }
</style>

<div class="item-data text-success">
    <h4><i class="fa-solid fa-sign-out-alt me-2"></i>{{ trans('sales') }}</h4>
    <h4>{{ money(fsc.sales) }}</h4>
</div>

<div class="item-data text-warning">
    <h4><i class="fa-solid fa-sign-in-alt me-2"></i>{{ trans('purchases') }}</h4>
    <h4>{{ money(fsc.purchases) }}</h4>
</div>

<div class="item-data text-primary">
    <h4><i class="fa-solid fa-list-alt me-2"></i>{{ trans('result') }}</h4>
    <h4>{{ money(fsc.total) }}</h4>
</div>
