<style>
    .item-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }
</style>

<div class="item-data text-info">
    <h4><i class="fas fa-map-signs mr-2"></i>{{ i18n.trans('previous-balance') }}</h4>
    <h4>{{ fsc.getAmount('previousBalance') }}</h4>
</div>

<div class="item-data text-info">
    <h4><i class="fas fa-sign-out mr-2"></i>{{ i18n.trans('sales') }}</h4>
    <h4>{{ fsc.getAmount('sales') }}</h4>
</div>

<div class="item-data text-info">
    <h4><i class="fas fa-sign-in mr-2"></i>{{ i18n.trans('purchases') }}</h4>
    <h4>{{ fsc.getAmount('purchases') }}</h4>
</div>

<div class="item-data {% if fsc.total > 0 %}text-danger{% else %}text-primary{% endif %}">
    <h4><i class="fas fa-list-alt mr-2"></i>{{ i18n.trans('result') }}</h4>
    <h4>{{ fsc.getAmount('total') }}</h4>
</div>
