<div class="tab-pane fade{{ c.isFirst() ? ' show active' : '' }}" id="{{ c.domId() }}"
     data-ui-path="{{ c.path() }}" role="tabpanel" aria-labelledby="{{ c.domId() }}-btn">
    <div class="p-3">
        {% for child in c.children() %}
            {{ child.render()|raw }}
        {% endfor %}
    </div>
</div>
