<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            {% block css %}
                #body {
                    background-color: #E8EAED;
                }
                .container {
                    background-color: #FBFBFC;
                    border-radius: 5px;
                    font-size: 1em;
                    padding: 20px 10px 30px 10px;
                }
                .company {
                    color: #3D67AC;
                    font-size: 2em;
                    font-weight: bold;
                }
                .footer {
                    font-size: 10px;
                    padding: 20px 10px 30px 10px;
                }
                .text-center {
                    text-align: center;
                }
            {% endblock %}
        </style>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="body">
            {% block body %}
                <table width="100%">
                    <tr>
                        <td></td>
                        <td>
                            <h3 class="company text-center">
                                {% if empresa.web is empty %}
                                    {{ empresa.nombrecorto }}
                                {% else %}
                                    <a href="{{ empresa.web }}">
                                        {{ empresa.nombrecorto }}
                                    </a>
                                {% endif %}
                            </h3>
                            <div class="container">
                                {% for block in mainBlocks %}
                                    {{ block.render() | raw }}
                                {% endfor %}
                            </div>
                            <div class="footer">
                                {% for block in footerBlocks %}
                                    {{ block.render() | raw }}
                                {% endfor %}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            {% endblock %}
        </div>
    </body>
</html>
