{#
   /**
     * DocumentController element Macros.
     *
     * Adds twig functions to display the DocumentController elements
     * Examples imports:
     * {% import "Macro/DocumentController.html.twig" as DocumentController %}
     *
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2018  Carlos Garcia Gomez  <carlos@facturascripts.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see http://www.gnu.org/licenses/.
     *
    */
#}

{% macro DocumentView(context, view) %}
    {% import _self as macros %}

    {# -- Calculate common values -- #}
    {% set model = view.getModel() %}

    <script type="text/javascript">
        documentLineData = {{ view.getLineData() | raw }};
                documentUrl = '{{ model.url('edit') | raw }}';
    </script>

    <form name="f_document_primary" action="#" method="post">
        <input type="hidden" name="action"/>
        <input type="hidden" name="{{ model.primaryColumn() }}" value="{{ model.primaryColumnValue() }}"/>
        <div class="form-row">
            {% if view.documentType == 'sale' %}
                {{ macros.customerSelect(context.i18n, 'codcliente', 'codcliente', model) }}
            {% elseif view.documentType == 'purchase' %}
                {{ macros.supplierSelect(context.i18n, 'codproveedor', 'codproveedor', model) }}
            {% endif %}
            {{ macros.customInput('doc_fecha', 'fecha', model.fecha, 'text', 'fa-calendar', {class: 'form-control datepicker'}) }}
            <div class="col">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-money fa-fw" aria-hidden="true"></i>
                        </span>
                    </span>
                    <input type="text" id="doc_total" name="total" value="{{ model.total }}" class="form-control text-right" disabled="" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="documentSave()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div id="document-lines"></div>
        <br/>
        <div class="form-row">
            {{ macros.customSelect('doc_codserie', 'codserie', model.codserie, context.fsc.getSelectValues('Serie')) }}
            {{ macros.customSelect('doc_codalmacen', 'codalmacen', model.codalmacen, context.fsc.getSelectValues('Almacen')) }}
            {{ macros.customSelect('doc_idempresa', 'idempresa', model.idempresa, context.fsc.getSelectValues('Empresa')) }}
            {{ macros.customSelect('doc_codpago', 'codpago', model.codpago, context.fsc.getSelectValues('FormaPago')) }}
            {{ macros.customSelect('doc_coddivisa', 'coddivisa', model.coddivisa, context.fsc.getSelectValues('Divisa')) }}
        </div>
        <div class="row">
            <div class="col-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="#" class="btn btn-sm btn-danger" onclick="deleteRecord('f_document_primary')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">&nbsp;{{ context.i18n.trans('delete') }}</span>
                </a>
            </div>
            <div class="col-6 text-right">
                <button type="button" id="btn-document-save" class="btn btn-sm btn-primary" onclick="documentSave()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; {{ context.i18n.trans('save') }}
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro customSelect(id, name, value, allValues = {}, allowHide = true) %}
    {% if allowHide and allValues | length == 1 %}
        {% for key, option in allValues %}
            <input type="hidden" id="{{ id }}" name="{{ name }}" value="{{ key }}"/>
        {% endfor %}
    {% else %}
        <div class="col">
            <select id="{{ id }}" name="{{ name }}" class="form-control">
                {% for key, option in allValues %}
                    <option value="{{ key }}"{% if value == key %} selected=""{% endif %}>
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{% macro customInput(id, name, value, type = "text", icon = NULL, attributes = NULL) %}
    <div class="col">
        {% if icon %}
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa {{ icon }} fa-fw" aria-hidden="true"></i>
                    </span>
                </span>
            {% endif %}

            <input type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}"
                   {% if attributes.class is not defined %}
                       class="form-control"
                   {% endif %}

                   {% for attribute,attrValue in attributes %}
                       {{ attribute }}="{{ attrValue }}"
                   {% endfor %} /> {# end input #}

            {% if icon %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro customerSelect(i18n, id, name, model) %}
    <div class="col">
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                </span>
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codcliente }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombrecliente|raw }}" class="form-control autocomplete"
                   data-source="clientes" data-field="codcliente" data-title="razonsocial"
                   placeholder="{{ i18n.trans('new-customer') }}" autocomplete="off" autofocus=""/>
            <span class="input-group-append">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newCustomerModal">
                    <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> {{ i18n.trans('new-customer') }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="new_cliente" name="new_cliente" placeholder="{{ i18n.trans('name') }}" class="form-control" autocomplete="off" autofocus=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="new_cifnif" placeholder="{{ i18n.trans('vat-id') }}" class="form-control" autocomplete="off"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#{{ id }}Autocomplete').val('');$('#{{ id }}').val($('#new_cliente').val());">
                        {{ i18n.trans('accept') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro supplierSelect(i18n, id, name, model) %}
    <div class="col">
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                </span>
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codproveedor }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombre|raw }}" class="form-control autocomplete"
                   data-source="proveedores" data-field="codproveedor" data-title="razonsocial"
                   placeholder="{{ i18n.trans('new-supplier') }}" autocomplete="off" autofocus=""/>
            <span class="input-group-append">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newSupplierModal">
                    <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="modal" id="newSupplierModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> {{ i18n.trans('new-supplier') }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="new_proveedor" name="new_proveedor" placeholder="{{ i18n.trans('name') }}" class="form-control" autocomplete="off" autofocus=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="new_cifnif" placeholder="{{ i18n.trans('vat-id') }}" class="form-control" autocomplete="off"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#{{ id }}Autocomplete').val('');$('#{{ id }}').val($('#new_proveedor').val());">
                        {{ i18n.trans('accept') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}