{% macro run(component, i18n) %}
<style>
    .item-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .25rem;
        padding-right: .25rem;
    }

    .item-title {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        font-weight: 500;
    }
</style>

<div class="card-header">
  <i class="far fa-map"></i>&nbsp; {{ i18n.trans('infostate-component-title') }}
    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Options">
        <a class="btn btn-outline-secondary btn-options card-close" role="button" data-toggle="collapse" href="#infostate"><i class="fas btn-options"></i></a>
    </div>
</div>

<div class="card-body show" id="infostate">
    <div class="list-group">
    {% for key, data in component.group %}
        <a href="{{ data.url }}" class="list-group-item list-group-item-action">
            <div class="item-data item-title">
                <span>{% if data.icon is not empty %}<i class="{{ data.icon }} mr-2 text-info"></i>{% endif %}{{ i18n.trans(key) }}</span>
                <span class="badge badge-primary">{{ data.value }}</span>
            </div>

            {% for key2, data2 in component.detail[key] %}
            <div class="item-data">
                <span>{{ i18n.trans(key2) }}</span>
                <span>{{ data2 }}</span>
            </div>
            {% endfor %}
        </a>
    {% endfor %}
    </div>
</div>
{% endmacro %}
