{% macro run(component, i18n) %}
    <div class="card-header">
        <span><i class="fas fa-info-circle mr-2"></i>{{ i18n.trans('messages-component-title') }}</span>
        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Options">
            <a href="{{ component.url(NULL) }}&component=Messages" class="btn btn-outline-secondary btn-options" role="button"><i class="fas fa-plus btn-options"></i></a>
            <a class="btn btn-outline-secondary btn-options" role="button" data-toggle="collapse" data-target=".message-filter"><i class="fas fa-filter btn-options"></i></a>
            <a class="btn btn-outline-secondary btn-options card-close" role="button" data-toggle="collapse" href="#messages"><i class="fas btn-options"></i></a>
        </div>
    </div>

    <div class="card-body show" id="messages">
        <!-- Filters buttons -->
        <div class="collapse message-filter">
            <div class="row mb-3 text-white">
                <div class="col-md-3">
                    <a class="btn btn-info btn-block" data-toggle="collapse" data-target=".message-info">{{ i18n.trans('info') }}</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary btn-block" data-toggle="collapse" data-target=".message-primary">{{ i18n.trans('news') }}</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-warning btn-block" data-toggle="collapse" data-target=".message-warning">{{ i18n.trans('notices') }}</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger btn-block" data-toggle="collapse" data-target=".message-danger">{{ i18n.trans('alerts') }}</a>
                </div>
            </div>
        </div>

        <!-- Messages -->
        <div class="card-columns card-sortable" style="column-count: 2;">
            {% for message in component.messages %}
                {% set color = message.properties['color'] %}
                <div class="collapse message-{{ color }} show">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ message.properties['description'] }}</p>
                        </div>
                        <div class="card-footer bg-{{ color }} text-white">
                            <a href="{{ component.url(message.id) }}" class="btn btn-light btn-sm"><i class="fas fa-edit" aria-hidden="true"></i></a>

                            {% if message.properties['link'] is not empty %}
                                <a href="{{ message.properties['link'] }}" target="_blank" class="btn btn-light btn-sm"><i class="fas fa-link" aria-hidden="true"></i></a>
                                {% endif %}

                            <small class="float-right">{{ message.displaydate }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   
{% endmacro %}