<!--
    Loads and displays a list of messages from the given types
-->
{% macro message(log, types, style) %}
{% set messages = log.read(types) %}
{% if messages|length > 0 %}
<div class="alert alert-{{ style }}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% for msg in messages %}
    {{ msg.message|raw }}
    {% if not loop.last %}<br />{% endif %}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

<!--
    Returns the CSS code to display the user help
-->
{% macro popoverTitle(msg, position = 'auto') %}
{% if msg|length > 0 %}data-toggle="popover" data-placement="{{ position }}" data-trigger="hover" data-content="{{ msg }}"{% endif %}
{% endmacro %}

<!--
    Returns the HTML code to manage printing and exporting data
-->
{% macro exportData(fsc, i18n, type = 'list') %}
{% from 'Macro/Utils.html.twig' import popoverTitle as popoverTitle %}
{% set print, print_title = i18n.trans('print'), i18n.trans('print-data-records') %}

<div class="btn-group">
    {% if type == 'list' %}
    <a href="#" onclick="goToExport('{{ fsc.exportManager.defaultOption() }}')" id="b_print" class="btn btn-sm btn-secondary" {{ popoverTitle(print_title, 'bottom') }}>
    {% elseif '?' in fsc.getURL('edit') %}
    <a href="{{ fsc.getURL('edit') }}&action=export&option={{ fsc.exportManager.defaultOption() }}" id="b_print" class="btn btn-sm btn-secondary" {{ popoverTitle(print_title, 'bottom') }}>
    {% else %}
    <a href="{{ fsc.getURL('edit') }}?action=export&option={{ fsc.exportManager.defaultOption() }}" id="b_print" class="btn btn-sm btn-secondary" {{ popoverTitle(print_title, 'bottom') }}>
    {% endif %}
    <i class="fa fa-print" aria-hidden="true"></i>
        <span class="d-none d-sm-inline-block">&nbsp;{{ print }}</span>
    </a>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">{{ i18n.trans('print-export-options') }}</span>
    </button>
    <div class="dropdown-menu">
        {% for key, option in fsc.exportManager.options() %}
            {% if type == 'list' %}
            <a href="#" onclick="goToExport('{{ key }}')" class="dropdown-item">
            {% elseif '?' in fsc.getURL('edit') %}
            <a href="{{ fsc.getURL('edit') }}&action=export&option={{ key }}" class="dropdown-item">
            {% else %}
            <a href="{{ fsc.getURL('edit') }}?action=export&option={{ key }}" class="dropdown-item">
            {% endif %}
            <i class="fa {{ option.icon }} fa-fw" aria-hidden="true"></i> {{ i18n.trans(option.description) }}
            </a>
        {% endfor %}
    </div>
</div>
{% endmacro %}
